<div class="note-list-wrapper">
	<div class="note-list">
		<ng-template [ngIf]="loading" [ngIfElse]="noteGrid">
			<mat-spinner></mat-spinner>
		</ng-template>

		<ng-template #noteGrid>
			<mat-card class="note-card" *ngFor="let note of noteList">
				<mat-card-title>
					<p>{{note.title}}</p>

					<button mat-icon-button [matMenuTriggerFor]="menu">
						<mat-icon>more_vert</mat-icon>
					</button>

					<mat-menu #menu="matMenu">
						<button mat-menu-item (click)="deleteNote(note._id)">
							<mat-icon>delete</mat-icon>
							<span>delete</span>
						</button>

						<button mat-menu-item (click)="editNote(note._id)">
							<mat-icon>edit</mat-icon>
							<span>edit</span>
						</button>
					</mat-menu>
				</mat-card-title>
				<mat-card-content>{{note.body}}</mat-card-content>
			</mat-card>
		</ng-template>
	</div>
</div>
